#user-container{
	width: 1300px;
	margin:0px auto;
	position:absolute;
}


/*--- 整体布局  ---*/
.content-mu{
	display: block;
	position: relative;
	opacity: 1;
}

.foryou-mu{
	display:block;
	float: left;
	border:0.1em solid black;
	margin-left: 1em;
	margin-right: 0em;
	margin-bottom: 1em;
	width: 19em;
	height: 12.5em;	
}
.foryou-img{
	display: block;
	position: relative;
	border:0.1em solid black;
	width: 11em;
	height: 12.4em;
}
.sq-box{
	display: block;
	float: right;
	width: 7.7em;
	height: 12.5em;
}
.sq-name-box {
	display: block;
	margin-top: 0.5em;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
}

.history-box{
	display:block;
	background-color: rgba(255, 255, 255, 0.50);
	float: left;
	margin:20px 20px 15px 40px;
	width: 200px;
	height: 825px;

}

.main-box{
	display:block;
	float: left;
	margin:1.5em 1.5em 1em 2em;
	width: 27em;
	height: 30em;
	background-color: rgba(255, 255, 255, 0.50);
}


.user-info{
	display: block;
	position: relative;
	float: left;
	width: 27em;
	height: 40em;
	margin-top: -2em;
	background-color: ;
}

.user-tooltip {
	display: inline-block;
	color: red; outline: none;
	float: left;
	cursor: ; text-decoration: none;  /*   cursor图标  */
	position: relative;
	z-index: 20;
}
.user-tooltip:hover {
	z-index: 25;
	background: none;
}
.user-tooltip span {
	display: none;
}

.user-tooltip:hover span {
	display: block;
	position: absolute;
	left: 5em;
	top: 1em;
	width: 15em;
	height: 25em;
	border:0.1em solid;
	background-color: rgba(255, 255, 255, 0.88);
	padding: 1em;
	float: left;
}

.food-catagory {
	color: green; outline: none;
	cursor: ; text-decoration: none;  /*   cursor图标  */
	position: relative;
	z-index: 20;

}
.food-catagory:hover {
	z-index: 25;
	background: none;
}
.food-catagory span {
	display: none;
}

.food-catagory:hover span {
	display: block;
	position: absolute;
	margin-left: 0em;
	margin-top: -7em;
	top: 0;
	width: 20em;
	height: 20em;
	padding: 3px;
	float: left;
}

.btn-food-catagory0 {
	position: relative;
	width: 10em;
	height: 3em;
	margin-left: 2em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 3s;
}
.btn-food-catagory1 {
	position: relative;
	width: 7em;
	height: 3em;
	margin-left: 8em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 6s;

}
.btn-food-catagory2 {
	position: relative;
	width: 7em;
	height: 3em;
	margin-left: 10em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 9s;
	background-color: yellow;
}
.btn-food-catagory3 {
	position: relative;
	width: 7em;
	height: 3em;
	margin-left: 12em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 12s;
}
.btn-food-catagory4 {
	position: relative;
	width: 7em;
	height: 3em;
	margin-left: 10em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 15s;

}
.btn-food-catagory5 {
	position: relative;
	width: 5em;
	height: 3em;
	margin-left: 10em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 18s;
}

/*---------------*/
.user-container {
	margin: 0 auto;
	height: 41em;
	width: 41em;
}
.path1 {
	animation: rotater 10s;
	background-color: rgba(255, 255, 255, 1);
	margin-top: 5em;
	border-radius: 300px;
	height: 10em;
	width: 10em;
}
@keyframes rotater {
	from {
		opacity: 0;
		transform: rotate(0deg);
	}
	80% {
		opacity: 1;
		transform: rotate(40deg);
	}
}

@keyframes btn-showing1 {
	from {
		opacity: 0;
	}

	80% {
		opacity: 1;
	}
}
/*-------------------------------------*/
.btn-ice1 {
	position: relative;
	width: 10em;
	height: 3em;
	margin-left: 0em;
	margin-top: 0em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 12s;
}


.btn-ice2 {
	position: relative;
	width: 8em;
	height: 3em;
	margin-left: 1em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 12s;
}

.btn-ice3 {
	position: relative;
	width: 6em;
	height: 3em;
	margin-left: 2em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 12s;
}
.btn-ice4 {
	position: relative;
	width: 4em;
	height: 3em;
	margin-left: 3em;
	border:2px solid;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 20px;
	-moz-border-radius:20px / 10px;
	-webkit-border-radius:20px/10px;
	animation: btn-showing1 12s;
}
